<div class="mx-auto mt-5" style="max-width: 400px; border-radius: 15px;">
    <div class="card-body p-5">
    <h2 class="card-title text-center mb-3">Register</h2>
    <form [formGroup]="registerForm">
        <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" formControlName="username" id="username" required>
        </div>
        <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" formControlName="email" id="email" required>
        </div>
        <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="password" required>
        </div>
        <div class="d-flex justify-content-center mt-4">
        <button type="button" class="btn btn-outline-dark" (click)="register()">Register</button>
        </div>
    </form>
    </div>
</div>

