.scrollable {
    max-height: 200px;
    overflow-y: auto;
}

.custom_table {
    color: black;
    border-color: transparent;
}

.custom_table th {
    background-color: transparent;
    color: black;
}
