<table class="feature-table">
    <thead>
        <tr>
            <th>Name</th>
            <th class="description-column">Description</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let class of character?.classes">
            <tr>
                <td colspan="3" class="header">{{class.name}}</td>
            </tr>
            <tr *ngFor="let feature of class.features">
                <td>{{feature.name}}</td>
                <td class="description-column">{{feature.description}}</td>
                <td>{{feature.source}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>