.feature-table {
  width: 100%;
  border-collapse: collapse;
}

.feature-table th, .feature-table td {
  border: 1px solid black;
  padding: 8px;
}

.feature-table th {
  background-color: transparent;
  text-align: left;
}

.feature-table .description-column {
  width: 500px;
  word-wrap: break-word;
}

.add-feature-form {
  text-align: center;
  margin-top: 20px;
}

.add-feature-form select {
  margin: 0 10px;
}

.feature-table .header {
  text-align: center;
  font-weight: bold;
}