<h2>Character Senses</h2>

<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <span>Dark vision</span>
                    <input type="number" class="inputValue" 
                    [ngModel]="character?.saving_throws?.strength" 
                    (ngModelChange)="updateSenses('dark_vision', $event)">
                </div>
            </td>
            </tr>
            <tr>
            <td>
                <div>
                    <span>Blind sight</span>
                    <input type="number" class="inputValue" 
                    [ngModel]="character?.saving_throws?.intelligence" 
                    (ngModelChange)="updateSenses('blind_sight', $event)">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <span>Tremor sense</span>
                    <input type="number" class="inputValue" 
                    [ngModel]="character?.saving_throws?.wisdom" 
                    (ngModelChange)="updateSenses('tremor_sense', $event)">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <span>Truesight</span>
                    <input type="number" class="inputValue" 
                    [ngModel]="character?.saving_throws?.dexterity" 
                    (ngModelChange)="updateSenses('truesight', $event)">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <span>Passive perception</span>
                    <input type="number" class="inputValue" 
                    [ngModel]="character?.saving_throws?.constitution" 
                    (ngModelChange)="updateSenses('passive_perception', $event)">
                </div>
            </td>
            
        </tr>
    </tbody>
</table>
