<h2>Character Senses</h2>


<pre *ngIf="character">
    Player nick name is  {{ character?.nickname }}  
    Character sense darvision is {{ character?.race?.senses?.dark_vision }}
    TEST ONLY! Character str is {{ character?.ability_scores?.strength }}
    TEST ONLY! Character dxt is {{ character?.ability_scores?.dexterity }}
    TEST ONLY! Character int is {{ character?.ability_scores?.intelligence }}
    TEST ONLY! Character cst is {{ character?.ability_scores?.constitution }}
    TEST ONLY! Character wsd is {{ character?.ability_scores?.wisdom }}
    TEST ONLY! Character cha is {{ character?.ability_scores?.charisma }}
    TEST ONLY! Character prof is {{ character?.skills?.athletics }}
</pre>