<main>
    <div class="buttons">
        <app-hit-button buttonText="HEAL" buttonColor="lightgreen" (buttonClick)="increaseSelected()"></app-hit-button>
        <app-hit-button buttonText="{{this.selectedText[this.selected]}}" buttonColor="gray" (buttonClick)="changeSelected()"></app-hit-button>
        <app-hit-button buttonText="DMG" buttonColor="red" (buttonClick)="decreaseSelected()"></app-hit-button>
    </div>

    <div class="stat">
        <div class="stat-name">
            <p>current</p>
        </div>
        <div class="stat-value">
            <p>{{this.hpValues[0]}}</p>
        </div>
    </div>

    <div class="stat">
        <div class="stat-name">
            <p>max</p>
        </div>
        <div class="stat-value">
            <p>{{this.hpValues[1]}}</p>
        </div>
    </div>

    <div class="stat">
        <div class="stat-name">
            <p>temp</p>
        </div>
        <div class="stat-value">
            <p>{{this.hpValues[2]}}</p>
        </div>
    </div>

</main>