<nav class="navbar navbar-expand navbar-dark bg-custom p-3">
    <div class="leftSide">
        <a class="navbar-brand" routerLink="/home">SWPPGRPG</a>
    </div>

    <div class="navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/character-board" *ngIf="isLogged()">Character board</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/login" *ngIf="!isLogged()">Log in</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/register" *ngIf="!isLogged()">Register</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" (click)="logout()" *ngIf="isLogged()">Log out</a>
            </li>
        </ul>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MtEeoOUJFDOh/lo0O9wtss4i4k25ck6ay6+Xt6ZdP+4QL8NojMl5+Tc2BRbRh6S" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>