<nav class="navbar navbar-expand navbar-light p-1">
    <div class="navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" (click)="change_current(0)" [ngClass]="{'bold': active===0}">Actions</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="change_current(1)" [ngClass]="{'bold': active===1}">Description</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="change_current(2)" [ngClass]="{'bold': active===2}">Equipment</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="change_current(3)" [ngClass]="{'bold': active===3}">Extras</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="change_current(4)" [ngClass]="{'bold': active===4}">Features</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="change_current(5)" [ngClass]="{'bold': active===5}">Notes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="change_current(6)" [ngClass]="{'bold': active===6}">Spells</a>
            </li>
        </ul>
    </div>
</nav> 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MtEeoOUJFDOh/lo0O9wtss4i4k25ck6ay6+Xt6ZdP+4QL8NojMl5+Tc2BRbRh6S" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script> 
