<h2>Saving Throws</h2>
<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <span>STR</span>
                    <span class="value">{{ savingThrows['strength'] }}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>INT</span>
                    <span class="value">{{ savingThrows['intelligence'] }}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <span>WIS</span>
                    <span class="value">{{ savingThrows['wisdom'] }}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>DEX</span>
                    <span class="value">{{ savingThrows['dexterity'] }}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <span>CON</span>
                    <span class="value">{{ savingThrows['constitution'] }}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>CHA</span>
                    <span class="value">{{ savingThrows['charisma'] }}</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
