<h2>Saving Throws</h2>
<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <span>STR</span>
                    <input type="number" class="inputValue" 
                    [ngModel]="character?.saving_throws?.strength" 
                    (ngModelChange)="updateSavingThrow('strength', $event)">
                </div>
            </td>
            <td>
                <div>
                    <span>INT</span>
                    <input type="number" class="inputValue" 
                    [ngModel]="character?.saving_throws?.intelligence" 
                    (ngModelChange)="updateSavingThrow('intelligence', $event)">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <span>WIS</span>
                    <input type="number" class="inputValue" 
                    [ngModel]="character?.saving_throws?.wisdom" 
                    (ngModelChange)="updateSavingThrow('wisdom', $event)">
                </div>
            </td>
            <td>
                <div>
                    <span>DEX</span>
                    <input type="number" class="inputValue" 
                    [ngModel]="character?.saving_throws?.dexterity" 
                    (ngModelChange)="updateSavingThrow('dexterity', $event)">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <span>CON</span>
                    <input type="number" class="inputValue" 
                    [ngModel]="character?.saving_throws?.constitution" 
                    (ngModelChange)="updateSavingThrow('constitution', $event)">
                </div>
            </td>
            <td>
                <div>
                    <span>CHA</span>
                    <input type="number" class="inputValue" 
                    [ngModel]="character?.saving_throws?.charisma" 
                    (ngModelChange)="updateSavingThrow('charisma', $event)">
                </div>
            </td>
        </tr>
    </tbody>
</table>
