.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #d62e32;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.description {
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.value-total {
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  font-weight: bold;
  color: black;
  margin-right:10px;
}

.total {
  font-weight: bold;
  color: black;
  border: 2px solid #d62e32;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.buttons {
  display: none; /* Hide the buttons for now */
}

.stat-box:hover .buttons {
  display: flex;
  position: absolute;
}

button {
  color: white;
  background-color: #d62e32;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

button:hover {
  background-color: #a62626;
}
