
<div class="container-fluid">
    <div class="row navbar x1">
        <app-navbar></app-navbar>
    </div>
    <div class="row stats x1">
        <!-- base stats start -->
        <app-base-stats class="col-1">
        </app-base-stats>

        <app-base-stats class="col-1">
        </app-base-stats>

        <app-base-stats class="col-1">
        </app-base-stats>

        <app-base-stats class="col-1">
        </app-base-stats>

        <app-base-stats class="col-1">
        </app-base-stats>

        <app-base-stats class="col-1">
        </app-base-stats>
        <!-- base stats ends -->

        <app-single-stats class="col-1">
        </app-single-stats>

        <app-single-stats class="col-1">
        </app-single-stats>

        <app-single-stats class="col-1">
        </app-single-stats>

        <app-hit-points class="col-3">
        </app-hit-points>


    </div>
    <div class="row main x10">
        <div class="col-3">

            <app-saving-throws class="row x3">
            </app-saving-throws>

            <app-senses class="row x3">
            </app-senses>

            <app-proficiencies-languges class="row x4">
            </app-proficiencies-languges>

        </div>

        <app-skills class="col-3 x10">
        </app-skills>
        
        <div class="col-6">
            <div class="row x1">

                <app-single-stats class="col-2">
                </app-single-stats>

                <app-single-stats class="col-2">
                </app-single-stats>

                <app-conditions-list class="col-4">
                </app-conditions-list>

                <app-conditions-list class="col-4">
                </app-conditions-list>
                
            </div>

            <div class="row x9">
                <app-navigate-box></app-navigate-box>
            </div>

        </div>
    </div>
</div>

<router-outlet></router-outlet>
