<div class="container-fluid">
    <div class="row">
        <!-- Left column spanning all rows -->
        <div class="col-md-9">
            Left Column
        </div>
        <!-- Right column with three rows on top of each other -->
        <div class="col-md-3">
            <!-- First row -->
            <div class="row">
                <div class="col-md-3 test">
                    <p>First Row</p>
                </div>
            </div>
            <!-- Second row -->
            <div class="row">
                <div class="col-md-3 test">
                    <p>Second Row</p>
                </div>
            </div>
            <!-- Third row -->
            <div class="row">
                <div class="col-md-3 test">
                    <p>Third Row</p>
                </div>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>
