.container-fluid {
    max-height: 100vh;
    overflow-y: scroll;
    padding: 0 2px;
}

p {
    width: 100%;
    height: 90%;
}

.row {
    padding: 0;
    /* margin-bottom: 5px; */
}

.main div {
    margin: 0;
}

.test {
    width: 100%;
}

.x1 {
    height: calc(100vh/12);
    max-height: calc(100vh/12);
}

.x3 {
    height: calc((100vh/12)*3);
    max-height: calc((100vh/12)*3);
}

.x4 {
    height: calc((100vh/12)*4);
    max-height: calc((100vh/12)*4);
}

.x5 {
    height: calc((100vh/12)*5);
    max-height: calc((100vh/12)*5);
}

.x9 {
    height: calc((100vh/12)*9);
    max-height: calc((100vh/12)*9);
}

.x10 {
    height: calc((100vh/12)*10);
    max-height: calc((100vh/12)*10);
}

.x11 {
    height: calc((100vh/12)*11);
    max-height: calc((100vh/12)*11);
}