
<div class="container-fluid">
    <div class="row navbar">

    </div>
    <div class="row stats x1">
        <div class="col-1">
            <p>test</p>
        </div>
        <div class="col-1">
            <p>test</p>
        </div>
        <div class="col-1">
            <p>test</p>
        </div>
        <div class="col-1">
            <p>test</p>
        </div>
        <div class="col-1">
            <p>test</p>
        </div>
        <div class="col-1">
            <p>test</p>
        </div>
        <div class="col-1">
            <p>test</p>
        </div>
        <div class="col-1">
            <p>test</p>
        </div>
        <div class="col-1">
            <p>test</p>
        </div>
        <div class="col-3">
            <p>test</p>
        </div>
    </div>
    <div class="row main">
        <div class="col-3">
            <div class="row x3">
                <app-test1></app-test1>
            </div>
            <div class="row x3">
                <app-test2></app-test2>
            </div>
            <div class="row x4">
                <p>3</p>
            </div>
        </div>
        <div class="col-3 x10">
            <p>big one</p>
        </div>
        <div class="col-6">
            <div class="row x1">
                <p>right1</p>
            </div>
            <div class="row x9">
                <p>right big</p>
            </div>
        </div>
    </div>
</div>

<app-base-stats></app-base-stats>
<app-conditions-list></app-conditions-list>
<router-outlet></router-outlet>
