* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    min-height: 100vh;
    /* min-width: 100vw; */
    max-width: 100vw;
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}