<table class="skills-table">
    <thead>
        <tr>
            <th>Prof</th>
            <th>Mod</th>
            <th>Skill</th>
            <th>Bonus</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of skills | keyvalue">
            <ng-container *ngIf="item.key !== 'id'">
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>{{item.key}}</td>
                    <td>{{item.value}}</td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>